# Node dependencies
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (if you use .env for secrets later)
/.env

# Build / temp files
/dist/
/build/
/public/*.cache
.DS_Store

# OS junk files
Thumbs.db
*.swp

# VS Code settings (optional)
/.vscode/
